{{define "header"}}
<header>
    <h1><a href="">{{T "nav.home"}}</a> | <a href="dd">DD</a> {{if eq .Endpoint "dd"}}| <a href="{{.Endpoint}}?atom=true">{{T "nav.rss"}}</a>{{end}}</h1>
    <form method="get" action="search">
        <input type="text" name="q" aria-label="Search query" placeholder="{{T "search.placeholder"}}" autocomplete="off" autocapitalize="none" spellcheck="false" value="{{.QueryRaw}}">
        <select name="type" aria-label="Search type">
            <option value="all">{{T "search.all"}}</option>
            <option value="tag">{{T "search.tag"}}</option>
            <option value="r">{{T "search.groups"}}</option>
        </select>
        <button type="submit">{{T "search.submit"}}</button>
    </form>
</header>
{{end}}